BasedOnStyle: Google
UseTab: Never
TabWidth: '2'
IndentWidth: '2'
AccessModifierOffset: 0
IndentAccessModifiers: true
ColumnLimit: 180
NamespaceIndentation: All
IndentPPDirectives: BeforeHash
FixNamespaceComments: false

...
